@use "./shade.scss" as *;
div {
  box-sizing: border-box;
}
p,
span {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.7;
}
@mixin initTransfromLeftWithTop($left: 0px, $top: 0px) {
  position: absolute;
  left: $left;
  top: $top;
  transform: translateY(-50%);
}

@mixin initTransfromRightWithTop($right: 0px, $top: 0px) {
  position: absolute;
  right: $right;
  top: $top;
  transform: translateY(-50%);
}
