@use "./base.scss" as base;
.yu-message {
  position: fixed;
  left: 50%;
  min-width: 138px;
  transform: translateX(-50%);
  display: inline-block;
  padding: 15px 19px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 9;
  top: 0px;
  transition: all 0.25s linear;
}

.yu-message-info {
  color: base.$info-2;
  background-color: base.$info-3;
}
.yu-message-transition-enter-from {
  opacity: 0;
  top: 0px !important;
}
.yu-message-transition-leave-to {
  top: 0px !important;
  opacity: 0;
}
